/* Fundal general */

/* Container principal */
.home-container {
  text-align: center;
  padding: 20px;
  margin-top: 210px;
  margin-bottom: 100px;
}

/* Secțiunea Hero */
.hero-section {
  margin-bottom: 40px;
}

.hero-section h1 {
  font-size: 4rem; /* Mărește dimensiunea fontului */
  font-weight: 800; /* Face textul mai gros */
  color: #ffffff; /* Culoare albă pentru contrast */
  text-transform: uppercase; /* Transformă textul în litere mari */
  letter-spacing: 2px; /* Adaugă spațiu între litere */
  margin-bottom: 20px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Adaugă un efect de umbră */
}

.hero-section p {
  font-size: 1.5rem; /* Mărește dimensiunea fontului */
  color: #d1d5db; /* Gri deschis */
  margin-bottom: 30px;
  line-height: 1.8; /* Crește spațierea între linii */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.button-group button {
  background-color: #6A1E55; /* Mov intens */
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  font-size: 1.2rem; /* Mărește dimensiunea fontului */
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

p {
  color: #ffffff;
}

.button-group button:hover {
  background-color: #4b0082; /* Mov mai închis */
  transform: scale(1.05); /* Efect de mărire la hover */
  color: #ffffff;
}

/* Secțiunea Features */
.features-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.feature {
  text-align: center;
  max-width: 300px;
}

.feature img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 16px;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.feature p {
  font-size: 14px;
  color: #e5e5e5;
}

/* Footer */
.footer {
  margin-top: 40px;
  font-size: 14px;
  color: #e5e5e5;
}
